# Encryption Service
SECRET_KEY=supersecret16bytes
UHC_MATRIX_SIZE=16
UHC_PASSWORD2=7391
DB_PATH=/data/logs.db

# Internal service URLs (gateway uses these)
FEATURE_SERVICE_URL=http://feature-service:8081
SELECTOR_SERVICE_URL=http://selector-service:8082
ENCRYPTION_SERVICE_URL=http://encryption-service:8083
